<form [formGroup]="newTaskForm" (submit)="addNewTask()">
    <mat-form-field appearance="outline">
        <mat-label>nom de la liste de tache</mat-label>
        <input matInput placeholder="demo" formControlName="taskName" required>
        <mat-icon matSuffix>list</mat-icon>
        <mat-error align="end">ce champs est obligatoire</mat-error>
    </mat-form-field>
    <br />
    <div align="center">
        <button mat-flat-button [disabled]="!newTaskForm.valid">
            <mat-icon>check</mat-icon>
            valider
        </button>
    </div>
</form>