.app-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
  
    .sidebar {

      background-color: #f4f4f4;
      padding: 20px;
      border-right: 1px solid #ddd;
      display: flex;
      flex-direction: column;
  
      .sidebar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  
      
    }
  
    .main-content {
      flex: 1;
      padding: 20px;
  
      .task-section {
        .task-form {
          display: flex;
          flex-direction: column;
          gap: 10px;
  
          .btn {
            background-color: #28a745;
            color: white;
            border: none;
            padding: 10px 15px;
            cursor: pointer;
          }
        }
  
        .tasks {
          margin-top: 20px;
          list-style: none;
          padding: 0;
  
          li {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-bottom: 5px;
  
            &.completed {
              text-decoration: line-through;
              color: gray;
            }
  
            .btn-flag {
              background: none;
              border: none;
              cursor: pointer;
            }
          }
        }
  
        .completed-tasks {
          margin-top: 20px;
          h3 {
            cursor: pointer;
            color: #007bff;
          }
  
          ul {
            margin-top: 10px;
            list-style: none;
            padding: 0;
          }
        }
      }
    }
  
    .right-sidebar {
      width: 300px;
      background-color: #f9f9f9;
      padding: 20px;
      border-left: 1px solid #ddd;
  
      .btn-delete {
        background-color: #dc3545;
        color: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }
  