<form [formGroup]="newSubTaskForm" (submit)="submitSubTask()">
    <mat-card-content>
        <p>add new sub task</p>
        <p>

            <mat-form-field appearance="outline">
                <mat-label>add short description</mat-label>
                <input matInput placeholder="demo" formControlName="short_description" required>
                <mat-icon matSuffix>description</mat-icon>
                <mat-error align="end">ce champs est obligatoire</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>add long description</mat-label>
                <textarea matInput placeholder="demo" formControlName="long_description"></textarea>
                <mat-icon matSuffix>description</mat-icon>
            </mat-form-field>
        </p>
        <p>

            <mat-form-field appearance="outline">
                <mat-label>date</mat-label>
                <input matInput type="date" formControlName="date" required>
                <mat-icon matSuffix>today</mat-icon>
                <mat-error align="end">ce champs est obligatoire</mat-error>
            </mat-form-field>
        </p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button>
            <mat-icon>add</mat-icon>
            add subtask
        </button>
    </mat-card-actions>
</form>